/*
<html>
 <head>
 
 <link href="pedz_z6.css" rel="stylesheet" type="text/css">
 </head>
 
 <body>
 <p>:) - uśmiech</p>
 ;C - duży smutek
 <p>:P - pokazane języka</p>
 :O - zdziwienie
 <p>;/ - sceptyczm</p>
 :| - brak emocji
 
 </body>



</html>
*/




body
{
     color: blue;
	 font-size:30px;
}
p
{
     color: green;
     font-size:20px;	 
}