/*
<html>
<head>
<title>styl liniowy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- liniowy -->
</head>
<body bgcolor="silver">
 <p style="color: teal;font-size: 52px;">PĘDZIWILK - testować</p>
 </body>
</html>
*/